.block{
  width: 100px;
  height: 100px;
  margin: 30px;
  display: inline-block;
  background: #777;
}

.blue{
  background: blue;
}

.red{
  background: red;
}

.green{
  background: green;
}

.block-lg{
  width: 125px;
  height: 125px;
}

.block-sm{
  width: 75px;
  height: 75px;
}

.progress{
  height: 30px;
  background-color: green;
}
